#svhChart {
    shape-rendering: crispEdges;
}
#svhChart .container {
    transform-origin: center center;
}
#svhChart text {
    fill: #222222;
    font: 19px Lato;
    text-rendering: optimizeLegibility;
}
#svhChart .title {
    font-size: 2.5em;
    text-anchor: middle;
    alignment-baseline: middle;
}
#svhChart .xaxis text {
    font-size: 16px;
}
#svhChart .yaxis .domain {
    stroke: none;
}
#svhChart .yaxis .tick line {
    stroke: gray;
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}
#svhChart .tick text {
    text-anchor: end;
}
#svhChart .legend text {
    text-anchor: start;
    alignment-baseline: hanging;
}
#svhChart path.balance {
    fill: none;
    shape-rendering: geometricPrecision;
}
#svhChart path.balanceFill {
    shape-rendering: geometricPrecision;
}
#svhChart path.minimum {
    stroke-dasharray: 10, 5;
}

#changeDataButton {
    position: fixed;
    opacity: 0;
    transition: opacity 1s;
}
#changeDataBox {
    position: fixed;
    top: 50px;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 10px;
    background-color: gainsboro;
}