.chart {
    shape-rendering: crispEdges;
    fill: ffffaa;
}
.chart .container {
    transform-origin: center center;
}
.chart text {
    fill: #222222;
    font: 19px Lato;
    text-rendering: optimizeLegibility;
}
.chart .title {
    font-size: 2.5em;
    text-anchor: middle;
    alignment-baseline: middle;
}
.chart .xaxis text {
    font-size: 16px;
}
.chart .yaxis .domain {
    stroke: none;
}
.chart .yaxis .tick line {
    stroke: gray;
    stroke-dasharray: 1, 1;
}
.chart .tick text {
    text-anchor: end;
}
.chart .legend text {
    text-anchor: start;
    alignment-baseline: hanging;
}
.chart rect.expense {
    fill: firebrick;
}
.chart path.balance {
    fill: none;
    shape-rendering: geometricPrecision;
}
.chart path.balanceFill {
    fill: orange;
    stroke: none;
    opacity: 0.4;
    shape-rendering: geometricPrecision;
}
.chart path.minimum {
    fill: none;
    stroke: green;
    stroke-width: 2.5;
    stroke-dasharray: 10, 5;
}
.chart text.minimumText {
    fill: green;
    font-size: 15px;
}