.chart {
    shape-rendering: crispEdges;
}
.chart .container {
    transform-origin: center center;
}
.chart text {
    fill: #222222;
    font: 19px Lato;
    text-rendering: optimizeLegibility;
}
.chart .title {
    font-size: 2.5em;
    text-anchor: middle;
    alignment-baseline: middle;
}
.chart .xaxis text {
    font-size: 16px;
}
.chart .yaxis .domain {
    stroke: none;
}
.chart .yaxis .tick line {
    stroke: gray;
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}
.chart .tick text {
    text-anchor: end;
}
.chart .legend text {
    text-anchor: start;
    alignment-baseline: hanging;
}
.chart path.balance {
    fill: none;
    shape-rendering: geometricPrecision;
}
.chart path.balanceFill {
    shape-rendering: geometricPrecision;
}
.chart path.minimum {
    stroke-dasharray: 10, 5;
}